/* Resetear márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilos del cuerpo */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f4f9f2;
  background-size: cover;
  background-attachment: fixed;
}

#home {
  background-image: url("img/fondo.png");
}

h1 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 0rem;
  margin-right: 1rem;
}

h2 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  color: #f4f9f2;
}

h3 {
  font-family: "Bebas Neue";
  font-size: 2rem;
  color: #f4f9f2;
  letter-spacing: 0.3rem;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}


/* Alineación de texto */
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}


/* Estilos de Márgenes */
.margin-custom {
  margin-top: 0px; /* Margen superior */
  margin-right: 90px; /* Margen derecho */
  margin-bottom: 0px; /* Margen inferior */
  margin-left: 90px; /* Margen izquierdo */
}
.margin-left {
  margin-left: 90px; /* Margen izquierdo */
}
.margin-right {
  margin-right: 90px; /* Margen derecho */
}


/* Colores de texto */
.white-text {
  color: #f4f9f2;
}
.green-text {
  color: #32b70d;
}
.dark-text {
  color: #0C0C0C;
}


/* Tamaño máximo */
.max-width40 {
  max-width: 40%;
}
.max-width50 {
  max-width: 50%;
}
.max-width70 {
  max-width: 70%;
}
.max-width90 {
  max-width: 90%;
}

/* Estilos de botones */
.btn {
  border: none;
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline {
  background-color: transparent;
  color: #F4F9F2;
  border: 2px solid #F4F9F2;
}

.btn-outline:hover {
  background-color: #F4F9F2;
  color: #0C0C0C;
}

.btn-solid {
  background-color: #32B70D;
  color: #F4F9F2;
}

.btn-solid:hover {
  background-color: rgb(23, 68, 10);
}

.btn-green-outline {
  background-color: transparent;
  color: #32B70D;
  border: 2px solid #32B70D;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}

.btn-green-outline:hover {
  background-color: #32B70D;
  color: #F4F9F2;
}


/* Estilos del Menú de navegación*/

.logo {
  max-height: 30px;
  width: auto;
  height: auto;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: #0C0C0C;
}

#navbar {
  overflow: hidden;
  background-color: #0c0c0c;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding:  10px 40px 10px 10px;
  text-decoration: none;
  font-size: 13px;
}

.topnav a:hover {
  background-color: #1C1E1B;
  color: #32b70d;;
}

.topnav .icon {
  display: none;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Estilos de la Landing Page */
.landing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.landing-content {
  text-align: right;
  color: #F4F9F2;
}

.landing-content h1 {
  text-align: right;
}

.landing-content h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: right;
}

@media (max-width: 1200px) {
  .landing-content h1 {
      font-size: 3rem;
  }

  .landing-content h2 {
      font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .landing {
      /* padding-right: 5%; */
      justify-content: center;
  }

  .landing-content {
      text-align: center;
  }

  .landing-content h1 {
      font-size: 2.5rem;
  }

  .landing-content h2 {
      font-size: 0.8rem;
  }

  .buttons {
      justify-content: center;
  }
}

@media (max-width: 480px) {
  .landing-content h1 {
      font-size: 2rem;
  }

  .landing-content h2 {
      font-size: 0.7rem;
  }

  .btn {
      padding: 0.8rem 1.5rem;
      font-size: 0.9rem;
  }
}


/* Estilos de la sección Rutinas y Entrenamiento */
.split-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 100vh; */
  background-color: #0C0C0C;
  padding: 10%;
  gap: 2rem;
}

.split {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 2rem;
}

.split.left {
  background-image: url('img/RutinasPersonalizadas.png');
  background-color: #0C0C0C;
}

.split.right {
  background-image: url('img/EntrenamientoGuiadoOnline.png');
  background-color: #0C0C0C;
}

.split h2 {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .split-section {
      flex-direction: column;
      padding: 10%;
  }
  .split {
      margin-bottom: 1rem;
      padding: 1rem;
  }
}


/* Estilos para la sección ¿Por qué elegirnos? */
.why-choose-us {
  background-color: #0C0C0C;
  color: #F4F9F2;
  text-align: center;
  padding: 4rem 2rem;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}

.benefit {
  border: 1px solid #32B70D;
  border-radius: 5px;
  padding: 1rem;
  background-color: #0C0C0C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit h3 {
  font-family: 'Bebas Neue';
  font-size: 1.5rem;
  color: #32B70D;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .benefits {
      grid-template-columns: 1fr;
  }
}



/* Estilos para la separación */
.separador {
  display: flex;
  margin: 0 auto; /* Centrar horizontalmente */
  width: 100%;   /* Ajusta el ancho */
}


/* Estilos para sobre nosotros */
.about-us {
  background-color: #0C0C0C;
  color: #F4F9F2;
  padding: 10%;
}

.about-us-content {
  flex: 1;
}

.about-us-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us img {
  max-width: 90%;
}




/* Sección de testimonios */

.testimonials {
  text-align: center;
  padding: 50px 20px;
  background-color: #0C0C0C;
  color: white;
}

.testimonials h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
}

.testimonials .highlight {
  color: #32B70D;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Oculta contenido que se salga del contenedor */
}

.testimonial-container .fa-chevron-left,
.testimonial-container .fa-chevron-right {
  font-size: 2rem;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.testimonial-container .fa-chevron-left {
  left: 10px;
}

.testimonial-container .fa-chevron-right {
  right: 10px;
}
/* Testimonio individual */
.testimonial {
  background-color: #0C0C0C;
  padding: 20px;
  border-radius: 10px;
  display: none; /* Inicialmente oculta todos los testimonios */
  align-items: center;
  max-width: 800px;
  margin: 0 50px;
  display: flex; /* Asegura que los elementos hijos estén en línea */
}
/* Imagen dentro del testimonio */
.testimonial .image-container {
  position: relative;
  width: 200px; /* Fija el ancho del contenedor de la imagen */
  height: 274px; /* Fija la altura del contenedor de la imagen */
  margin-right: 20px;
  border: 3px solid #32B70D;
  border-radius: 10px;
  overflow: hidden; /* Oculta parte de las imágenes que se salga del contenedor */
  display: flex; /* Establece el contenedor como flexbox */
  align-items: center; /* Centra verticalmente las imágenes */
  justify-content: center; /* Centra horizontalmente las imágenes */
  cursor: pointer; /* Cambia el cursor a mano al pasar sobre la imagen */
}

/* Estilos para las imágenes antes y después */
.testimonial .image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out; /* Transición suave para el cambio de opacidad */
}

/* Inicialmente hace invisible la imagen de "después" */
.testimonial .image-container .after {
  opacity: 0;
}

/* Al hacer hover, muestra la imagen de "después" y oculta la de "antes" */
.testimonial .image-container:hover .after {
  opacity: 1;
}

.testimonial .image-container:hover .before {
  opacity: 0;
}

/* Para pantallas pequeñas, cambia la imagen al hacer clic */
@media (max-width: 768px) {
  .testimonial .image-container:active .after {
    opacity: 1;
  }
  .testimonial .image-container:active .before {
    opacity: 0;
  }
}

/* Contenido del testimonio */
.testimonial-content {
  flex: 1;
  text-align: left;
}

.testimonial h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 0.9rem;
  margin: 0;
}

/* Estrellas de calificación */
.stars {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.stars i {
  color: #FFD700;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Paginación */
.pagination {
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #32B70D;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .testimonial-container {
      flex-direction: column;
  }

  .testimonial {
      flex-direction: column;
      text-align: center;
  }

  .testimonial .image-container {
      margin-bottom: 20px;
      margin-right: 0px;
  }

  .testimonial-content {
      text-align: center;
  }

  .testimonial-container .fa-chevron-left,
  .testimonial-container .fa-chevron-right {
      display: block; /* Asegura que las flechas sean visibles */
  }

  .stars{
    justify-content: center
  }
}






/* Sección de contacto */
.contact-section {
  background: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
  background-image: url(img/fondoPesas.png);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el área */
  background-position: center; /* Centra la imagen de fondo */
  background-attachment: fixed; /* La imagen de fondo se mantendrá fija al hacer scroll */
  padding: 70px 0px;
  position: relative;
  text-align: center;
}

.contact-container {
  background: rgba(0, 0, 0, 0.9); /* Fondo negro más oscuro */
  padding: 40px 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.contact-container h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left; /* Alineación del texto a la izquierda */
  flex: 1;
}

.form-group label {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px; /* Margen inferior para espacio entre inputs */
}

.form-group textarea {
  resize: none;
  height: 100px; /* Ajustar altura del textarea */
}

.contact-form button {
  background-color: #32b70d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Ocupa la mitad del ancho en pantallas grandes */
  align-self: left; /* Centrar el botón */
}

.contact-form button:hover {
  background-color: #28a305;
}

.social-media {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
  width: 100%;
  padding: 10px;
  margin-top: 30px;
}

.social-media a {
  color: #fff;
  font-size: 2rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #32b70d;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .form-row {
      flex-direction: column;
  }

  .contact-form button {
      width: 100%; /* Ocupa todo el ancho en pantallas pequeñas y medianas */
  }
}
