/* Resetear márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #f4f4f4;
    background-size: cover;
    background-attachment: fixed;
}

#home {
    background-image: url('img/fondo.png');
}
#gym {
    background-image: url('img/pruebaGym.jpg');
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.margin-custom {
    margin-top: 0px;    /* Margen superior */
    margin-right: 90px;  /* Margen derecho */
    margin-bottom: 0px; /* Margen inferior */
    margin-left: 90px;   /* Margen izquierdo */
}

/* Estilos del header */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.logo img {
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 4rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #32B70D;
}

.nav-links a i {
    margin-right: 0.5rem;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger i {
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        margin: 1.5rem 0;
    }
    .burger {
        display: block;
    }
    .nav-active {
        transform: translateX(0%);
    }
}

/* Estilos de la sección de aterrizaje */
.landing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    padding-right: 10%;
}

.landing-content {
    text-align: right;
    color: white;
}

h1 {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0rem;
    margin-right: 1rem;
}

.landing-content h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.buttons {
    display: flex;
    justify-content: right;
}

/* Estilos de botones */
.btn {
    border: none;
    padding: 1rem 2rem;
    margin: 0 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-outline {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-outline:hover {
    background-color: white;
    color: black;
}

.btn-solid {
    background-color: #32B70D;
    color: white;
}

.btn-solid:hover {
    background-color: rgb(23, 68, 10);
}

.btn-green-outline {
    background-color: transparent;
    color: #32B70D;
    border: 2px solid #32B70D;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
}

.btn-green-outline:hover {
    background-color: #32B70D;
    color: white;
}

/* Estilos de secciones divididas */
.split-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #0C0C0C;
    padding: 1rem 10%;
    gap: 2rem;
}

.split {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 2rem;
}

.split.left {
    background-image: url('img/RutinasPersonalizadas.png');
}

.split.right {
    background-image: url('img/EntrenamientoGuiadoOnline.png');
}

.text-right {
    text-align: right;
    color: white;
}

.text-left {
    text-align: left;
    color: white;
}

.split h2 {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


/* Estilos para la sección ¿Por qué elegirnos? */
.why-choose-us {
    background-color: #0C0C0C;
    color: white;
    text-align: center;
    padding: 4rem 2rem;
}

.why-choose-us h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.why-choose-us .white-text {
    color: white;
}

.why-choose-us .green-text {
    color: #32B70D;
}


.benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
}

.benefit {
    border: 1px solid #32B70D;
    border-radius: 5px;
    padding: 1rem;
    background-color: #0C0C0C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: #32B70D;
    margin-bottom: 0.5rem;
}


/* Estilos para la sparación */
.separador {
    width: 100%;                /* Ajusta el ancho*/
}

.about-us {
    background-color: #0C0C0C;
    color: white;
    padding-top: 10%;
    padding-left: 10%
;
}
.conteiner {
    display: flex;
    height: 100vh;
}

.info, .photo {
    flex: 1; /* Cada div ocupa el 50% del ancho del contenedor */
    float: right;
    padding: 20px;
}

.photo img {
    max-width: 70%;
    max-height: 70%;
    
}

.about-us h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: #f4f9f2;
    text-align: left;
    padding-left: 50px;
    
}
.parrafos {
    text-align: left;
    padding-left: 50px;
    padding-top: 10px;
    max-width: 85%;
    max-height: 85%;
}