body {
    background-color: #0C0C0C;
}

p {
    color:#F4F9F2;
    font-family: 'Inter';
}

.contenido {
        font-size: 1rem;
        margin-bottom: 1rem;
        margin: 70px 12%;
    }


#corriendo {
    align-items: center;
    width: 100%;
}

.background-container {
    height: 80vh; /* Cambiado para ser relativo */
    width: 100%;
    background-image: url('img/corriendo.jpg');
    margin: 45px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.background-container2 {
    height: 100vh; /* Cambiado para ser relativo */
    width: 100%;
    background-image: url('img/corriendo2.jpg');
    margin: 45px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.left-aligned-title {
    color: #F4F9F2;
    float: right;
    text-align: right;
    margin-right: 12%;
    margin-top: 5%;
}

.left-aligned-title2 {
    color:#0C0C0C;
    float: right;
    text-align: right;
    margin-right: 12%;
    margin-top: 15%;
}

.bordered-title {
    border: 0.5px solid #32B70D;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.btn {
    width: 150px;
}

.containerFinal {
    display: flex;
    width: 100%;
    /* border: 1px solid #f00909; */
    margin-bottom: 5%;
    
}


/* Sector izquierdo */
.left {
    
    flex: 1;
}
.left2 {
    margin-left: 15%;
    margin-bottom: 7%;
    margin-top: 3%;
}


/* Sector derecho */
.right {
    /* background-color: #f00909; */
    flex: 1;
}
.right2 {
    margin-left: 10%;
    margin-bottom: 7%;
    margin-top: 3%;
}
#pieTitulo {
    font-size: medium;
    font-family: 'Bebas Neue';
    color: #F4F9F2;
    padding-bottom: 5px;
    padding-top: 30px;
}
