body {
    background-image: url(img/fondoCheckout.jpg);
}

.checkout-container {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #32B70D;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    margin-top: 17%;
    margin-bottom: 12%;
    width: 80%;
    max-width: 800px;
}

.checkout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #32B70D;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.checkout-header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    margin: 0;
    color: #32B70D;
}

.back-link {
    font-family: 'Inter', sans-serif;
    color: #6a7268;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.checkout-form p {
    color: #f4f9f2;
    margin: 20px 0 10px;
}

.checkout-form h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    margin: 0;
    color: #32B70D;
}

.checkout-form .separator {
    border: 0;
    height: 1px;
    background: #32B70D;
    margin: 10px 0;
    margin-bottom: 4%;
}

.checkout-form input, 
.checkout-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #32B70D;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #FFF;
}

.checkout-form textarea {
    resize: none;
    height: 100px;
}

.checkout-form .contact-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-fields input {
    flex: 1 1 calc(50% - 10px);
}

.contact-fields textarea {
    flex: 1 1 100%;
}

.checkout-form .btn {
    background-color: #32B70D;
    color: #f4f9f2;
    font-size: 0.8rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-left: 88%;
    
}

@media (max-width: 768px) {
    .checkout-container {
        width: 95%;
        margin: 20px auto;
    }

    .checkout-form .contact-fields {
        flex-direction: column;
    }

}